<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Amazon_s_Best_Prices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Amazon_s_Best_Prices.Properties.Settings>
            <setting name="item1" serializeAs="String">
                <value />
            </setting>
            <setting name="item2" serializeAs="String">
                <value />
            </setting>
            <setting name="item3" serializeAs="String">
                <value />
            </setting>
            <setting name="item4" serializeAs="String">
                <value />
            </setting>
            <setting name="item5" serializeAs="String">
                <value />
            </setting>
            <setting name="price1" serializeAs="String">
                <value />
            </setting>
            <setting name="price2" serializeAs="String">
                <value />
            </setting>
            <setting name="price3" serializeAs="String">
                <value />
            </setting>
            <setting name="price4" serializeAs="String">
                <value />
            </setting>
            <setting name="price5" serializeAs="String">
                <value />
            </setting>
            <setting name="item1URL" serializeAs="String">
                <value />
            </setting>
            <setting name="item2URL" serializeAs="String">
                <value />
            </setting>
            <setting name="item3URL" serializeAs="String">
                <value />
            </setting>
            <setting name="item4URL" serializeAs="String">
                <value />
            </setting>
            <setting name="item5URL" serializeAs="String">
                <value />
            </setting>
            <setting name="itemSpot1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="itemSpot2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="itemSpot3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="itemSpot4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="itemSpot5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tempITEM" serializeAs="String">
                <value />
            </setting>
            <setting name="tempPRICE" serializeAs="String">
                <value />
            </setting>
            <setting name="tempURL" serializeAs="String">
                <value />
            </setting>
            <setting name="clearURLBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setAsterisk" serializeAs="String">
                <value>False</value>
            </setting>
        </Amazon_s_Best_Prices.Properties.Settings>
    </userSettings>
</configuration>